.navBar{
    width:100%;
    height:36px;
    background-color: rgba(0,0,0,.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}

.navBox{
    height:30px;
    width:30px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: hsla(0,0%,100%,.24);
    margin: 2px;
}
.navBox2{
    height:30px;
    width:75px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: hsla(0,0%,100%,.24);
    margin: 2px;
}
.navBox3{
    height:30px;
    width:150px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    border-radius: 5px;
    background-color: hsla(0,0%,100%,.24);
    margin: 2px;
}
.navbox4{
    align-self: center;
    
}
.containerOne{
    display: flex;
    flex-direction: row;
    margin: 2px;
}